@import "tailwindcss";

@tailwindcss base;
@tailwindcss components;
@tailwindcss utilities;

@layer utilities {
  .hide-scrollbar {
    scrollbar-width: none;
    -ms-overflow-style: none;
  }
  .hide-scrollbar::-webkit-scrollbar {
    display: none;
  }
}

body {
  @apply bg-slate-50 text-slate-900 antialiased min-h-screen;
}